<!doctype html>
<html lang="pt-br">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="Projeto do PIM Unip 2021 - Curso Analise e Desenvolvimento de Sistema">
    <meta name="author" content="Leandro Klinger, Andre Mendes, Talita, Sabrina, Maria Eduarda">
    <meta name="generator" content="Hugo 0.88.1">
    <title>@ViewData["Title"] - Hotel TransAmerica</title>

    <link href="~/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/lib/font-awesome/css/all.min.css" rel="stylesheet" />

    <link href="~/css/carousel.css" rel="stylesheet">
</head>
<body>

    <header>
        <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
            <div class="container-fluid">
                <a class="navbar-brand" asp-action="Index" asp-controller="Home" asp-area="">
                    <img src="~/imagem/logo.png" alt="..." height="36" style="margin-left: 15px">
                </a>                
                <div class="collapse navbar-collapse" id="navbarCollapse">
                    <ul class="navbar-nav me-auto mb-2 mb-md-0">
                        <li class="nav-item">
                            <a class="nav-link" asp-action="Index" asp-controller="Home" asp-area="Administracao">Administração</a>
                        </li>
                    </ul>
                    <partial name="_LoginPartial" />
                </div>
            </div>
        </nav>
    </header>
    <main>
        @RenderBody()
        <footer class="container">            
            <p>&copy; @DateTime.Now.Year - Hotel TransAmerica </p>
        </footer>
    </main>

    <script src="~/lib/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)

</body>
</html>
