@page
@model LoginModel

@{
    ViewData["Title"] = "Conecte-se";
}
<div class="container">
    <br />
    <br />
    <div class="text-center">
        <img src="~/imagem/ex.png" alt="logo do hotel" height="80">
    </div>
    <br />
    <h2 class="text-center">@ViewData["Title"]</h2>
    <div class="row justify-content-center">
        <div class="col-md-4 justify-content-center">
            <section>
                <form id="account" method="post">
                    <hr />
                    <div asp-validation-summary="All" class="text-danger"></div>
                    <div class="col-lg-11">
                        <label asp-for="Input.Email"></label>
                        <input asp-for="Input.Email" class="form-control" />
                        <span asp-validation-for="Input.Email" class="text-danger"></span>
                    </div>
                    <div class="col-lg-11">
                        <label asp-for="Input.Password"></label>
                        <input asp-for="Input.Password" class="form-control" />
                        <span asp-validation-for="Input.Password" class="text-danger"></span>
                    </div>
                    <p>
                        <div class="checkbox text-center">
                            <label asp-for="Input.RememberMe">
                                <input asp-for="Input.RememberMe" />
                                @Html.DisplayNameFor(m => m.Input.RememberMe)
                            </label>
                        </div>
                    </p>
                    <p class="form-group text-center">
                        <button type="submit" class="btn btn-success">Conecte-se</button>
                    </p>
                    <div class="form-group text-center">
                        <p>
                            <a id="forgot-password" asp-page="./ForgotPassword">Esqueceu sua senha?</a>
                        </p>
                        <p>
                            <a asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl">Registre-se como um novo usuário</a>
                        </p>
                    </div>
                </form>
            </section>
        </div>

    </div>

    @section Scripts {
        <partial name="_ValidationScriptsPartial" />
    }
</div>

