@model FuncionarioViewModel

@{
    <br />
    ViewData["Title"] = "Novo Funcionário";
}

<h1>@ViewData["Title"]</h1>

<hr />
<div class="row">
    <form class="row g-2" asp-action="NovoFuncionario" method="post">
        <vc:summary></vc:summary>
        <div class="col-md-5">
            <label asp-for="CargoId" class="control-label"></label>
            <select asp-for="CargoId" class="form-control" asp-items="@(new SelectList(Model.ListaCargo,"Id","Nome"))"><option></option></select>
            <span asp-validation-for="CargoId" class="text-danger"></span>
        </div>
        <div class="col-md-6">
            <label asp-for="GrupoFuncionarioId" class="control-label">Grupo Funcionário</label>
            <select asp-for="GrupoFuncionarioId" class="form-control" asp-items="@(new SelectList(Model.ListaGrupoFuncionario,"Id","Nome"))"><option></option></select>
            <span asp-validation-for="GrupoFuncionarioId" class="text-danger"></span>
        </div>
        <div class="col-md-6">
            <label asp-for="NomeCompleto" class="control-label"></label>
            <input asp-for="NomeCompleto" class="form-control" />
            <span asp-validation-for="NomeCompleto" class="text-danger"></span>
        </div>
        <div class="col-md-5">
            <label asp-for="Cpf" class="control-label">CPF</label>
            <input asp-for="Cpf" class="form-control" />
            <span asp-validation-for="Cpf" class="text-danger"></span>
        </div>
        <div class="col-md-5">
            <label asp-for="Nascimento" class="control-label"></label>
            <input asp-for="Nascimento" class="form-control" type="date" />
            <span asp-validation-for="Nascimento" class="text-danger"></span>
        </div>
        <div class="col-md-6">
            <label asp-for="Email" class="control-label"></label>
            <input asp-for="Email" class="form-control" />
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>
        <div class="col-md-5">
            <label asp-for="TelefoneCelular" class="control-label"></label>
            <input asp-for="TelefoneCelular" class="form-control" />
            <span asp-validation-for="TelefoneCelular" class="text-danger"></span>
        </div>

        <div class="col-md-6">
            <label asp-for="TelefoneFixo" class="control-label"></label>
            <input asp-for="TelefoneFixo" class="form-control" />
            <span asp-validation-for="TelefoneFixo" class="text-danger"></span>
        </div>

        <hr />
        <partial name="_Endereco" />

        <div class="col-12">
            <br /> 
            <input type="submit" value="Criar" class="btn btn-success" />
            <a class="btn btn-secondary" asp-action="Index">Voltar para lista</a>
        </div>
    </form>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script>
        BuscaCep();
    </script>
}
