<!doctype html>
<html lang="pt-br">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="Projeto do PIM Unip 2021 - Curso Analise e Desenvolvimento de Sistema">
    <meta name="author" content="Leandro Klinger, Andre Mendes, Talita, Sabrina, Maria Eduarda">
    <meta name="generator" content="Hugo 0.88.1">
    <title>@ViewData["Title"] - UnipPim.Hotel</title>

    <link href="~/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/lib/font-awesome/css/all.min.css" rel="stylesheet" />


    <link href="~/css/dasboard.css" rel="stylesheet">

    <link href="~/css/site.css" rel="stylesheet">
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
            <div class="container-fluid">
                <a class="navbar-brand" asp-action="Index" asp-controller="Home" asp-area="">
                    <img src="~/imagem/logo.png" alt="..." height="36" style="margin-left: 15px">
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarCollapse" style="flexb">
                    <ul class="navbar-nav me-auto mb-2 mb-md-0">
                        <li class="nav-item">
                            <a class="nav-link" asp-action="Index" asp-controller="Home" asp-area="Administracao">Administração</a>
                        </li>
                    </ul>
                    <partial name="_LoginPartial" />
                </div>
            </div>
        </nav>
    </header>

    <div class="container-fluid">
        <div class="row">
            <nav id="sidebarMenu" class="col-md-1 col-lg-2 d-md-block bg-light sidebar collapse">
                <div class="position-sticky pt-3">
                    <br />
                    <ul class="nav flex-column">

                        <li class="nav-item">
                            <a class="nav-link active" asp-action="Index" asp-controller="Home" asp-area="Administracao">
                                <span data-feather="home"></span>
                                Dashboard
                            </a>
                        </li>
                                                
                        <li class="nav-item">
                            <a class="nav-link" asp-action="Index" asp-controller="Funcionario" asp-area="Administracao">
                                <span data-feather="file"></span>
                                Funcionários
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-action="Index" asp-controller="GrupoFuncionario" asp-area="Administracao">
                                <span data-feather="users"></span>
                                Grupo de Usuários
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-action="Index" asp-controller="Cargo" asp-area="Administracao">
                                <span data-feather="shopping-cart"></span>
                                Cargo
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-action="Index" asp-controller="Hospede" asp-area="Administracao">
                                <span data-feather="users"></span>
                                Hóspedes
                            </a>
                        </li>                        
                        <li class="nav-item">
                            <a class="nav-link" asp-action="Index" asp-controller="Anuncio" asp-area="Administracao">
                                <span data-feather="layers"></span>
                                Anúncios
                            </a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" asp-action="Index" asp-controller="Quarto" asp-area="Administracao">
                                <span data-feather="layers"></span>
                                Quartos
                            </a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" asp-action="Index" asp-controller="Categoria" asp-area="Administracao">
                                <span data-feather="layers"></span>
                                Categoria
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-action="Index" asp-controller="Produto" asp-area="Administracao">
                                <span data-feather="layers"></span>
                                Produtos
                            </a>
                        </li>
                    </ul>

                    
                </div>
            </nav>

            <main class="col-md-9 ms-sm-auto col-lg-10 px-md-2">
                <div style="margin-left: 20px">
                    <br />
                    @RenderBody()
                </div>
            </main>
            <footer class="border-top footer text-muted text-center">
                <div class="container">
                    <br />
                    &copy; @DateTime.Now.Year - Hotel TransAmerica
                </div>
            </footer>
        </div>
    </div>


    <script src="~/lib/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="~/lib/font-awesome/js/all.min.js"></script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
