@model FechamentoReservaViewModel
@{
    ViewData["Title"] = "IniciarReserva";
}


<div class="container marketing">

    <br />
    <div class="card">
       <h1>Reserva realizada com Sucesso.</h1>
    </div>
</div>

