@model CategoriaViewModel

@{
    ViewData["Title"] = "Editar Categoria";
    <br />
}

<h1>@ViewData["Title"]</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="EditarCategoria">
            <vc:summary></vc:summary>
            <div class="form-group">
                <label asp-for="Nome" class="control-label"></label>
                <input asp-for="Nome" class="form-control" />
                <span asp-validation-for="Nome" class="text-danger"></span>
            </div>
            <input type="hidden" asp-for="Id" />            
            <div class="form-group">
                <br />
                <input type="submit" value="Salvar" class="btn btn-success" />
                <a asp-action="Index" class="btn btn-secondary">Voltar para a lista</a>
            </div>
        </form>
    </div>
</div>

